.DS_Store
###> symfony/framework-bundle ###
back/.env.local
back/.env.local.php
back/.env.*.local
back/.env
back/config/secrets/prod/prod.decrypt.private.php
back/public/bundles/
back/var/
back/vendor/
###< symfony/framework-bundle#